.Markdown {
  font-family: var(--Markdown-fontFamily);
  font-size: var(--Markdown-fontSize);
}

.Markdown details {
  margin-top: 0.5em;
}

.Markdown summary {
  font-weight: bold;
}

.Markdown h1 {
  margin-top: 1em;
}

.Markdown h2 {
  margin-top: 1em;
}

.Markdown h3 {
  margin-top: 1em;
}

.Markdown h4 {
  margin-top: 1em;
}

.Markdown p {
  line-height: 1.5;
  margin-top: 0.75em;
}

.Markdown ol {
  line-height: 1.5;
  list-style-type: none;
  margin-left: 0;
  margin-top: 0.75em;
}

.Markdown ol > li {
  padding-left: 3em;
  position: relative;
}

.Markdown ol > li > p {
  margin-top: 0;
}

.Markdown ol > li > p > em:first-child,
.Markdown ol > li > em:first-child {
  font-style: normal;
  left: 0;
  position: absolute;
  text-align: right;
  width: 2.8em;
}

.Markdown li > ol {
  margin-top: 0;
}

.Markdown ul {
  line-height: 1.5;
  list-style-type: disc;
  margin-left: 2em;
  margin-top: 0.75em;
}

.Markdown a {
  color: var(--Markdown-anchor-color);
  text-decoration-thickness: .08em;
  text-underline-offset: .04em;
}

.Markdown table {
  border-collapse: collapse;
  margin-top: 0.75em;
}

.Markdown th,
.Markdown td {
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  font-size: 0.75em;
  padding: 0.5em;
  text-align: left;
}

.Markdown th {
  vertical-align: bottom;
}

.Markdown td {
  vertical-align: baseline;
}
