.Markdown {
  font-family: var(--Markdown-fontFamily);
  font-size: var(--Markdown-fontSize);
}

.Markdown details {
  margin-top: 0.5em;
}

.Markdown summary {
  font-weight: bold;
}

.Markdown h1 {
  margin-top: 1em;
}

.Markdown h2 {
  margin-top: 1em;
}

.Markdown h2::after {
  content: ".";
}

.Markdown h3 {
  margin-top: 1em;
}

.Markdown h3::after {
  content: ".";
}

.Markdown h4 {
  margin-top: 1em;
}

.Markdown h4::after {
  content: ".";
}

.Markdown p {
  line-height: 1.5;
  margin-top: 0.75em;
}

.Markdown ol {
  line-height: 1.5;
  list-style-type: decimal;
  margin-left: 2em;
  margin-top: 0.75em;
}

.Markdown li > ol {
  margin-top: 0;
}

.Markdown-list--a-1-A {
  display: none;
}

.Markdown-list--a-1-A + ol {
  list-style-type: lower-alpha;
}

.Markdown-list--a-1-A + ol > li > ol {
  list-style-type: decimal;
}

.Markdown-list--a-1-A + ol > li > ol > li > ol {
  list-style-type: upper-alpha;
}

.Markdown-list--a-1-A + ol > li > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

.Markdown-list--a-1-A + ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: lower-alpha;
}

.Markdown-list--1-A {
  display: none;
}

.Markdown-list--1-A + ol {
  list-style-type: decimal;
}

.Markdown-list--1-A + ol > li > ol {
  list-style-type: upper-alpha;
}

.Markdown ul {
  line-height: 1.5;
  list-style-type: disc;
  margin-left: 2em;
  margin-top: 0.75em;
}

.Markdown a {
  color: var(--Markdown-anchor-color);
  text-decoration-thickness: .08em;
  text-underline-offset: .04em;
}
