:root {

  /* colors */

  --yellow1: hsl(60, 54.0%, 98.5%);
  --yellow2: hsl(52, 100%, 95.5%);
  --yellow3: hsl(55, 100%, 90.9%);
  --yellow4: hsl(54, 100%, 86.6%);
  --yellow5: hsl(52, 97.9%, 82.0%);
  --yellow6: hsl(50, 89.4%, 76.1%);
  --yellow7: hsl(47, 80.4%, 68.0%);
  --yellow8: hsl(48, 100%, 46.1%);
  --yellow9: hsl(53, 92.0%, 50.0%);
  --yellow10: hsl(50, 100%, 48.5%);
  --yellow11: hsl(42, 100%, 29.0%);
  --yellow12: hsl(40, 55.0%, 13.5%);

  /* Markdown */
  --Markdown-fontFamily: "Libre Baskerville", serif;
  --Markdown-fontSize: calc((15 / 16) * 1em);
  --Markdown-lineHeight: calc(24 / 15);

  --Markdown-h1-fontFamily: "Oswald", sans-serif;
  --Markdown-h1-color: inherit;
  --Markdown-h1-fontSize: 3em;
  --Markdown-h1-fontWeight: 500;
  --Markdown-h1-lineHeight: calc(48 / 45);
  --Markdown-h1-marginTop: 0;

  --Markdown-h2-fontFamily: "Oswald", sans-serif;
  --Markdown-h2-color: inherit;
  --Markdown-h2-fontSize: 1.5em;
  --Markdown-h2-fontWeight: 500;
  --Markdown-h2-lineHeight: calc(24 / 22.5);
  --Markdown-h2-marginTop: calc((24 / 22.5) * 1em);

  --Markdown-h3-fontFamily: "Oswald", sans-serif;
  --Markdown-h3-color: inherit;
  --Markdown-h3-fontSize: 1.2em;
  --Markdown-h3-fontWeight: 500;
  --Markdown-h3-lineHeight: calc(24 / 18);
  --Markdown-h3-marginTop: calc((24 / 18) * 1em);

  --Markdown-table-td-fontFamily: "Oswald", sans-serif;
  --Markdown-table-td-fontSize: 1.2em;
  --Markdown-table-td-fontWeight: 300;
  --Markdown-table-td-lineHeight: calc(24 / 18);

  --Markdown-table-th-fontFamily: "Oswald", sans-serif;
  --Markdown-table-th-fontSize: 1.2em;
  --Markdown-table-th-fontWeight: 500;
  --Markdown-table-th-lineHeight: calc(24 / 18);

  /* Page */
  --Page-fontFamily: var(--font-sans);

}

@media (prefers-color-scheme: dark) {
  :root {

    /* dark colors */

    --yellow1: hsl(45, 100%, 5.5%);
    --yellow2: hsl(46, 100%, 6.7%);
    --yellow3: hsl(45, 100%, 8.7%);
    --yellow4: hsl(45, 100%, 10.4%);
    --yellow5: hsl(47, 100%, 12.1%);
    --yellow6: hsl(49, 100%, 14.3%);
    --yellow7: hsl(49, 90.3%, 18.4%);
    --yellow8: hsl(50, 100%, 22.0%);
    --yellow9: hsl(53, 92.0%, 50.0%);
    --yellow10: hsl(54, 100%, 68.0%);
    --yellow11: hsl(48, 100%, 47.0%);
    --yellow12: hsl(53, 100%, 91.0%);

  }
}
