.Markdown em {
  font-style: normal;
  text-transform: uppercase;
}

.Markdown strong {
  font-weight: 700;
}

.Markdown ol {
  line-height: var(--Markdown-lineHeight);
  list-style-type: none;
  margin-left: 0;
  margin-top: 0.75em;
}

.Markdown ol > li {
  margin-bottom: 8px;
  margin-left: 0;
  margin-top: 8px;
  padding-left: 3em;
  position: relative;
}

// .Markdown ol > li > p {
//   margin-top: 0;
// }

.Markdown ol > li > del > em:first-child,
.Markdown ol > li > ins > em:first-child,
.Markdown ol > li > p > em:first-child,
.Markdown ol > li > p > del > em:first-child,
.Markdown ol > li > p > ins > em:first-child,
.Markdown ol > li > em:first-child {
  font-style: normal;
  left: -4em;
  position: absolute;
  text-align: right;
  text-decoration-color: inherit;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  text-underline-offset: inherit;
  width: 5.8em;
}

.Markdown h2 + h1 {
  margin-top: 0 !important;
}

.Markdown li > ol {
  margin-top: 0;
}

.Markdown table {
  min-width: 100%;
}

.Markdown td strong {
  font-weight: var(--Markdown-table-th-fontWeight);
}
