.Markdown.h-entry em {
  font-style: normal;
  text-transform: uppercase;
}

.Markdown strong {
  font-weight: 700;
}

.Markdown p {
  position: relative;
}

.Markdown ol {
  line-height: var(--Markdown-lineHeight);
  list-style-type: none;
  margin-left: 0;
  margin-top: 0.75em;
}

.Markdown ol > li {
  margin-bottom: 8px;
  margin-left: 0;
  margin-top: 8px;
  padding-left: 3em; // so the ::target highlight color extends under the numbers
  position: relative;
}

.Markdown *::target-text {
  background-color: var(--yellow8);
}

.Markdown :is(h2, h3, h4):target,
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul),
.Markdown :is(ol > li, p):target {
  animation: target-fade 10s 1;
  background-color: var(--yellow4);
  outline-color: var(--yellow4);
  outline-offset: 0;
  outline-style: solid;
  outline-width: var(--Markdown-target-outlineWidth);
}

@keyframes target-fade {
  0% {
    background-color: var(--yellow5);
    outline-color: var(--yellow5);
  }
  100% {
    background-color: var(--yellow4);
    outline-color: var(--yellow4);
  }
}

.Chapter :is(h2, h3, h4):target > a,
.Chapter :is(h2, h3, h4):target > a:hover,
.Chapter li:target > p > em > a,
.Chapter li:target > p > em > a:hover,
.Chapter li:target > em > a,
.Chapter li:target > em > a:hover,
.Chapter p:target > small > a,
.Chapter p:target > small > a:hover {
  color: var(--yellow8);
}

.Markdown :is(h2, h3, h4):target,
.Markdown :is(ol > li, p):target {
  border-radius: 0.01em;
}

.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul),
.Markdown :is(h2, h3, h4):target + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul) + :is(ol, p, table, ul) {
  border-bottom-left-radius: 0.01em;
  border-bottom-right-radius: 0.01em;
}

.Markdown ol > li > del > em:first-child,
.Markdown ol > li > ins > em:first-child,
.Markdown ol > li > p > em:first-child,
.Markdown ol > li > p > del > em:first-child,
.Markdown ol > li > p > ins > em:first-child,
.Markdown ol > li > em:first-child {
  font-style: normal;
  left: -4.2em;
  position: absolute;
  text-align: right;
  text-decoration-color: inherit;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  text-transform: none; // prevent any other rules from transforming the text
  text-underline-offset: inherit;
  width: 3em;
}

.Markdown ol > li > em:first-child {
  left: -1.2em; // workaround for lists with only one item where Markdown does not render a paragraph element
}

.Markdown h2 + h1 {
  margin-top: 0 !important;
}

.Markdown h2#sections + ul > li::marker {
  content: "§ ";
}

.Markdown li > ol {
  margin-top: 0;
}

.Markdown table {
  min-width: 100%;
}

.Markdown td strong {
  font-weight: var(--Markdown-table-th-fontWeight);
}

.Chapter h4 {
  font-family: var(--Chapter-h4-fontFamily);
  color: var(--Chapter-h4-color);
  font-size: var(--Chapter-h4-fontSize);
  font-weight: var(--Chapter-h4-fontWeight);
  line-height: var(--Chapter-h4-lineHeight);
}

.Chapter :is(h2, h3, h4) > a,
.Chapter em > a,
.Chapter p > em > a {
  color: var(--blue12);
  text-decoration: none;
}

.Chapter p > small > a {
  color: var(--slateA8);
  text-decoration: none;
}

.Chapter :is(h2, h3, h4) > a:hover,
.Chapter em > a:hover,
.Chapter p > em > a:hover {
  color: var(--blue11);
}

.Chapter p > small > a:hover {
  color: var(--blueA11);
}
