{% comment %}
  Placeholder to allow custom markup in the head of your site.
  Included are a few examples of how this might be used.

  <link rel="icon" href={{ "/favicon.ico" | relative_url }}>
  <link rel="icon" href={{ "/favicon.svg" | relative_url }} type="image/svg+xml">
  <link rel="apple-touch-icon" href={{ "/apple-touch-icon.png" | relative_url }}>

{% endcomment %}

<link rel="manifest" href={{ "/manifest.json" | relative_url }}>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&text=vunofficial&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Oswald:wght@300;500&display=swap" rel="stylesheet">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="#fbfcfd" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#151718" media="(prefers-color-scheme: dark)">
<meta name="msvalidate.01" content="E99E0939FF65102E0C67891391694019">
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script> window.chtlConfig = { chatbotId: "9319697573" } </script>
<script async data-id="9319697573" id="chatling-embed-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>
