<footer class="Footer">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <nav class="Footer-nav u-flex u-flexCol u-md-flexRow u-lg-flexRow">
    <ul class="u-sm-sizeFull u-md-size1of3 u-lg-size1of3">
      <li class="Footer-navListItem">
        <a class="Footer-link" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </li>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}

        {%- if my_page.title -%}
        <li class="Footer-navListItem">
          <a class="Footer-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
      {%- endfor -%}
      <li class="Footer-navListItem">
        Please contact <a href="mailto:ordinances@forchagrin.com">ordinances@forchagrin.com</a><br />with corrections, questions, or comments.
      </li>
      <li class="Footer-navListItem">
        <a class="Footer-link" href="{{ 'feed.xml' | relative_url }}">
          <svg class="Icon"><use xlink:href="{{ 'assets/social-icons.svg#rss' | relative_url }}"></use></svg>
          <span>Subscribe to my posts feed</span>
        </a>
      </li>
    </ul>
    <div class="u-sm-sizeFull u-md-size2of3 u-lg-size2of3">
      <p class="Footer-finePrint">
        <strong>Disclaimer:</strong> The Codified Ordinances and other documents
        that appear in this repository may not reflect the most current
        legislation adopted by the Municipality. The Codified Ordinances are
        provided for informational purposes only and should not be relied upon
        as the definitive authority for local legislation. Additionally, the
        formatting and pagination of the posted documents vary from the
        formatting and pagination of the official copy. The official printed
        copy of the Codified Ordinances should be consulted prior to any action
        being taken.
      </p>      
      <p class="Footer-finePrint">
        For further information regarding the official version of any portion of
        the Codified Ordinances in this repository, please contact the
        Municipality directly.
      </p>
    </div>
  </nav>
  <div>
    <p class="Footer-finePrint">
    {%- for fine_print in site.optima.fine_prints -%}
      <span class="u-textNoWrap">{{- fine_print.text }}</span>
    {% endfor %}
    </p>
  </div>
</footer>
<script>
  function add() {
    document.querySelectorAll(".Chapter p").forEach($p => {
      let $headingText = "";
      let $idx = 1;
      let $str = "";

      let $em = $p.querySelector("em");
      let $parentListItem = $p.closest("li");
      let $parentList = $p.closest("ol");
      let $grandParentListItem;
      if ($parentList) {
        $grandParentListItem = $parentList.closest("li");
      };
      let $searchTarget;

      if ((!$em && !$parentListItem)                                                      // paragraphs that are not part of a subsection
          ||                                                                              // or
          (!$em && $parentListItem && $parentListItem.querySelector("em"))                // paragraphs that are part of a non-subsection list
          ||                                                                              // or
          ($em && $em.nextSibling)) {                                                     // paragraphs with subsection number and content
        $searchTarget = $p.previousElementSibling;                                        // get the previous sibling element
        while ($searchTarget) {
          if (($searchTarget.tagName === "H2") || ($searchTarget.tagName === "H3") || ($searchTarget.tagName === "H4")) {
            $headingText = $searchTarget.id.match(/^(([\d\.])+)|(appendix-[\w]+)|(section-[ivx]+-[\d]+)/g);
            break;
          };
          if ($searchTarget.tagName === "P") {                                            // check if it's also a paragraph
            $idx = $idx + 1;                                                              // if so, increase the index
          };
          $searchTarget = $searchTarget.previousElementSibling;                           // get the next previous sibling element and repeat
        };
        $str = "¶" + $idx;                                                                // add a paragraph symbol to the string
        if ($parentListItem) {
          $em = $parentListItem.querySelector("em");                                      // find the current subsection number
          $str = $em.innerText + $str;                                                    // add the current subsection number to the string
        };
        while ($grandParentListItem) {
          $str = $grandParentListItem.querySelector("em").innerText + $str;
          $parentList = $grandParentListItem.closest("ol");
          $grandParentListItem = $parentList.closest("li");
        };
        if ($parentList) {
          $searchTarget = $parentList.previousElementSibling;
          while ($searchTarget) {
            if (($searchTarget.tagName === "H2") || ($searchTarget.tagName === "H3") || ($searchTarget.tagName === "H4")) {
              $headingText = $searchTarget.id.match(/^(([\d\.])+)|(appendix-[\w]+)|(section-[ivx]+-[\d]+)/g);
              break;
            };
            $searchTarget = $searchTarget.previousElementSibling;
          };
        };
        if ($headingText) {
          $str = $headingText + $str;
        };
        $anchor = document.createElement("a");
        $anchor.href = "#" + $str;
        $anchor.innerText = "¶";
        $small = document.createElement("small");
        $small.append($anchor);
        $p.setAttribute("id", $str);
        $p.append(" ", $small);
      };
    });
    document.querySelectorAll(".Chapter ol > li").forEach($li => {
      let $headingText = "";
      let $str = "";

      let $em = $li.querySelector("em");
      let $parentList = $li.closest("ol");
      let $grandParentListItem;
      if ($parentList) {
        $grandParentListItem = $parentList.closest("li");
      };
      let $searchTarget;

      if ($em) {
        $str = $em.innerText + $str;
      };
      while ($grandParentListItem) {
        $str = $grandParentListItem.querySelector("em").innerText + $str;
        $parentList = $grandParentListItem.closest("ol");
        $grandParentListItem = $parentList.closest("li");
      };
      if ($parentList) {
        $searchTarget = $parentList.previousElementSibling;
        while ($searchTarget) {
          if (($searchTarget.tagName === "H2") || ($searchTarget.tagName === "H3") || ($searchTarget.tagName === "H4")) {
            $headingText = $searchTarget.id.match(/^(([\d\.])+)|(appendix-[\w]+)|(section-[ivx]+-[\d]+)/g);
            break;
          };
          $searchTarget = $searchTarget.previousElementSibling;
        };
      };
      if ($headingText) {
        $str = $headingText + $str;
      };
      $anchor = document.createElement("a");
      $anchor.href = "#" + $str;
      $anchor.innerText = $em.innerText;
      $em.innerText = "";
      $li.setAttribute("id", $str);
      $em.append($anchor);
    });
    document.querySelectorAll(".Chapter h2, .Chapter h3, .Chapter h4").forEach($h2 => {
      if (/^(([\d\.])+)|(appendix-)|(section-)/.test($h2.id)) {
        $anchor = document.createElement("a");
        $anchor.href = "#" + $h2.id;
        $anchor.innerText = "§ ";
        $h2.prepend($anchor);
      };
    });
  };
  add();
</script>
