---
layout: default
---

<div class="Grid Grid--withGutter">
  <div class="Grid-cell u-sm-sizeFull u-md-size2of3 u-lg-size2of3">
    <div class="Markdown">
      {% assign sortedParts = site.data.parts | sort: "number" %}
      {% for part in sortedParts %}
        <details>
          <summary>Part {{ part.number_word }}: {{ part.name }}</summary>
          {% if part.titles %}
            {% assign sortedTitles = part.titles | sort: "number" %}      
            {% for title in sortedTitles %}
              <p><strong>Title {{ title.number_word }}: {{ title.name }}</strong></p>
              {% assign sortedPages = site.pages | sort: "chapter_no" %}
              <ul>
                {% for page in sortedPages %}
                  {% if page.part_no == part.number and page.title_no == title.number %}
                    <li><a href="{{ page.url | relative_url  }}">{{ page.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endfor %}
          {% else %}
            <ul>
              {% assign sortedPages = site.pages | sort: "chapter_no" %}
              {% for page in sortedPages %}
                {% if page.part_no == part.number %}
                  <li><a href="{{ page.url | relative_url  }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </details>
      {% endfor %}
    </div>
  </div>
  <div class="Grid-cell u-sm-sizeFull u-md-size1of3 u-lg-size1of3">
    <div class="Markdown">
      {%- if page.title -%}
        <h1>{{ page.title }}</h1>
      {%- endif -%}

      {% if site.paginate %}
        {% assign posts = paginator.posts %}
      {% else %}
        {% assign posts = site.posts %}
      {% endif %}

      {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
          <h1>{{ page.list_title }}</h1>
        {%- endif -%}

        {%- assign date_format = site.optima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts limit:3 -%}
        <section>
          <h2>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          <p>{{ post.date | date: date_format }}</p>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </section>
        {%- endfor -%}

        <p>
         <a href="./posts/">All posts</a>
       </p>
      {%- endif -%}
    </div>
  </div>
</div>
