---
layout: default
---

<div class="Markdown">

  <h1>{{ page.title }}</h1>

  {%- assign date_format = site.optima.date_format | default: "%b %-d, %Y" -%}
  {% assign titles = site.titles | where: "part_no", page.part_no %}
  <div>
    {% for title in titles %}
      {% if title.title_no > 0 %}
        <h2>{{ title.title }}</h2>
      {% endif %}

      {% assign part_chapters = site.chapters | where: "part_no", page.part_no %}
      {% assign chapters = part_chapters | where: "title_no", title.title_no %}
      
      <ul>
      {% for chapter in chapters %}
        <li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
      {% endfor %}
      </ul>

    {% endfor %}
  </div>

</div>
